<div class="w-full text-3xl">
    <div class="w-[90%] mx-auto flex items-center justify-between pt-6">
      <ion-select aria-label="Active Status" [(ngModel)]="activeStatus" class="rounded-xl bg-transparent text-darkChocolate border-solid border-2 border-brightOrange w-1/2" placeholder="Status">
        <ion-select-option selected value="active">Active</ion-select-option>
        <ion-select-option selected value="inactive">Inactive</ion-select-option>
      </ion-select>
      <button class="rounded-xl border-solid border-2 border-brightOrange text-darkChocolate text-sm px-2 py-4">Taxi Intensity</button>
    </div>
    <a class="w-2/3 rounded-3xl shadow-2xl bg-white flex items-center justify-center space-y-2 space-x-3 px-3 cursor-pointer pt-3">
      <span class="text-darkChocolate text-xl">Become a Driver</span>
      <span>
        <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g filter="url(#filter0_d_0_1)">
          <circle cx="25" cy="21" r="21" fill="#00BFA5"/>
          </g>
          <path d="M15 14.115L22.417 21L15 27.885L17.2834 30L27 21L17.2834 12L15 14.115Z" fill="#00BFA5"/>
          <path d="M24 14.115L31.417 21L24 27.885L26.2834 30L36 21L26.2834 12L24 14.115Z" fill="#00BFA5"/>
          <defs>
          <filter id="filter0_d_0_1" x="0" y="0" width="50" height="50" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
          <feOffset dy="4"/>
          <feGaussianBlur stdDeviation="2"/>
          <feComposite in2="hardAlpha" operator="out"/>
          <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
          <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_0_1"/>
          <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_0_1" result="shape"/>
          </filter>
          </defs>
        </svg>
      </span>
  </a>
  <div class="w-[90%] mx-auto">
    <ion-input aria-label="whereTo" placeholder="Where are you going to?"  class="w-full mx-auto bg-transparent rounded-2xl placeholder:pl-2 border-solid border-2 border-brightOrange h-14 text-darkChocolate text-xl"/>
  </div>
  <div class="w-full p-2">
    <capacitor-google-map id="digitekisi-map" #mapRef></capacitor-google-map>
  </div>
  <div class="w-[90%] mx-auto flex items-center justify-end">
    <ion-button color="none" class="bg-brightTurqoise">Explore Traffic</ion-button>
  </div>
  <div class="w-[90%] mx-auto flex items-center justify-center">
    <h1 class="text-darkChocolate">Current Booking</h1>
    <div class="w-full py-6 rounded-md shadow-2xl flex flex-col items-center justify-between">
      <span class="w-[90%] mx-auto flex items-center justify-between text-sm">
        <p>From: UB Junction</p>
        <button class="rounded-2xl bg-gradient-primary shadow-lg px-2 py-2">Cancel</button>
      </span>
      <span class="w-[90%] mx-auto flex items-center justify-between text-sm">
        <p>To: Checkpoint</p>
        <button class="rounded-2xl bg-gradient-primary shadow-lg px-2 py-2">XAF 500</button>
      </span>
    </div>
  </div>
</div>
&nbsp;
&nbsp;
&nbsp;
&nbsp;
