<div class="w-screen h-screen bg-gradient-primary relative">
  <!-- Logo -->
  <img src="assets/icon/logo.svg" alt="" class="py-4 px-4">
  <div class="container mx-auto p-4 flex flex-col space-y-8">
    <p class="text-white text-4xl font-bold w-3/4">Taxi  of your dreams</p>
    <p class="text-white text-2xl">Your taxi ride could not be more pleasurable than DigiTekisi</p>
    <img src="assets/icon/landing.svg" alt="" class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
  </div>
  <div class="absolute bottom-6  w-full flex items-center justify-center">
    <a class="rounded-3xl shadow-2xl bg-white flex items-center justify-center space-y-2 space-x-3 px-3 cursor-pointer" [routerLink]="['/welcome/walkthrough']">
      <span class="text-darkChocolate text-3xl">Get Started</span>
      <span>
        <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g filter="url(#filter0_d_0_1)">
          <circle cx="25" cy="21" r="21" fill="#00BFA5"/>
          </g>
          <path d="M15 14.115L22.417 21L15 27.885L17.2834 30L27 21L17.2834 12L15 14.115Z" fill="white"/>
          <path d="M24 14.115L31.417 21L24 27.885L26.2834 30L36 21L26.2834 12L24 14.115Z" fill="white"/>
          <defs>
          <filter id="filter0_d_0_1" x="0" y="0" width="50" height="50" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
          <feOffset dy="4"/>
          <feGaussianBlur stdDeviation="2"/>
          <feComposite in2="hardAlpha" operator="out"/>
          <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
          <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_0_1"/>
          <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_0_1" result="shape"/>
          </filter>
          </defs>
        </svg>
      </span>
  </a>
  </div>
</div>
