<div class="w-screen h-screen relative bg-white">
  <ion-header slot="top">
    <div class="w-full bg-gradient-primary h-20 flex items-center justify-between px-2">
      <img src="assets/icon/logo.svg"/>
      <span class="flex items-center justify-center space-x-2">
        <ion-select aria-label="Select Role" [(ngModel)]="selectedUser" class="rounded-2xl bg-transparent text-darkChocolate border-solid border-[1px] border-darkChocolate" placeholder="Select Role">
          <ion-select-option selected value="passenger">As Passenger</ion-select-option>
          <ion-select-option value="driver">As Driver</ion-select-option>
        </ion-select>
        <img src="assets/icon/notifications.svg"/>
        <img src="assets/icon/logout.svg"/>
      </span>
    </div>
  </ion-header>
    <div class="w-full overflow-y-scroll">
      <router-outlet></router-outlet>
      <!-- <ion-line></ion-line> -->
    </div>
  <ion-tabs>
    <ion-tab-bar slot="bottom" class="bg-gradient-primary">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="book">
        <ion-icon name="copy-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="gps">
        <ion-icon name="locate-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="account">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</div>
