<div class="w-screen h-screen bg-gradient-primary relative">
  <img src="assets/icon/logo.svg" alt="" class="py-4 px-4">
  <form class="w-full py-2 px-2 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex flex-col items-center justify-center space-y-6" [formGroup]="loginForm">
    <ion-text class="font-bold text-darkOrange text-3xl w-[90%] mx-auto text-center">Welcome back to Digitekisi</ion-text>
    <div class="relative w-[95%] mx-auto">
      <img src="assets/icon/email_icon.svg" class="absolute top-3 right-3"/>
      <input type="email" class="w-full bg-transparent border-solid border-2 border-darkChocolate h-14 focus:border-darkOrange focus:outline-none placeholder:text-darkChocolate px-2 rounded-xl text-xl" placeholder="Email*" formControlName="email">
    </div>
    <div class="relative w-[95%] mx-auto">
      <img src="assets/icon/password_invisible.svg" class="absolute top-3 right-3" *ngIf="!passwordIsVisible()" (click)="setPasswordVisibilityState()"/>
      <img src="assets/icon/password_visible.svg" class="absolute top-3 right-3" *ngIf="passwordIsVisible()" (click)="setPasswordVisibilityState()"/>
      <input [type]="passwordIsVisible() ? 'text' : 'password'" class="w-full bg-transparent border-solid border-2 border-darkChocolate h-14 focus:border-darkOrange focus:outline-none placeholder:text-darkChocolate px-2 rounded-xl text-xl" placeholder="Password*" formControlName="password">
    </div>
    <button type="submit" class="capitalize text-2xl font-bold text-darkChocolate px-10 py-2 rounded-3xl bg-gradient-secondary flex items-center justify-center space-x-3" [disabled]="loginForm.invalid" (click)="onLogin()">
      <div class="hidden justify-center items-center">
        <div class="w-8 h-8 border-4 border-t-2 border-gray-200 rounded-full animate-spin" style="border-color: #00BFA5;"></div>
      </div>
      <div>Login</div>
      </button>
  </form>
  <ion-buttons class="absolute bottom-3 w-full flex items-center justify-between px-2">
    <ion-button class="capitalize" routerLink="/auth/password/forgot">Forgot password?</ion-button>
    <ion-button class="capitalize text-brightOrange" routerLink="/auth/signup/start">Create account</ion-button>
  </ion-buttons>
</div>
